body {
    min-width: 1000px;
    min-height: 1000px;
}

#row {
    border: 1px solid black;
}

.complete {
    color: green;
    text-decoration: none;
}

.notComplete {
    color: red;
    text-decoration: none;
}